@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Conv_poppins.bold";
  src: url("../fonts/poppins.bold.eot");
  src: local("☺"), url("../fonts/poppins.bold.woff") format("woff"), url("../fonts/poppins.bold.ttf") format("truetype"), url("../fonts/poppins.bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Conv_poppins.semibold";
  src: url("../fonts/poppins.semibold.eot");
  src: local("☺"), url("../fonts/poppins.semibold.woff") format("woff"), url("../fonts/poppins.semibold.ttf") format("truetype"), url("../fonts/poppins.semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: local("☺"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.eot");
  src: local("☺"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  font-size: 40px;
  color: black;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1210px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  width: 236px;
  height: 68px;
  border-radius: 9px;
  font-family: "Conv_Montserrat-Bold";
  font-size: 24px;
  color: white;
  text-align: center;
}

header {
  height: 156px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__logo {
  display: block;
  margin-left: 70px;
}

.header__nav {
  width: 580px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}
.header__nav a {
  font-family: "Conv_Montserrat-SemiBold";
  font-size: 16px;
}

.top {
  height: 619px;
  background: url("../img/bg-top.png");
}

.top__container {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1005px;
  height: 326px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 70px;
}
.top__container h3 {
  font-family: "Conv_Montserrat-Bold";
  font-size: 24px;
  text-align: center;
  color: #F6F6F6;
}
.top__container h1 {
  font-family: "Conv_poppins.bold";
  font-size: 58px;
  text-align: center;
  color: white;
  line-height: 80px;
}
.top__container h4 {
  font-family: "Conv_Montserrat-Medium";
  font-size: 24px;
  text-align: center;
  color: #F6F6F6;
}

.button__box {
  max-width: 506px;
  height: 68px;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.button__box .button__left {
  background: #FA4A0C;
}
.button__box .button__right {
  border: 1px solid #ffffff;
  background: none;
}

@media screen and (max-width: 991px) {
  .button__box {
    flex-direction: column;
    height: 140px;
    justify-content: space-between;
    align-items: center;
  }
}
.app-works {
  margin-top: 30px;
}

.app-works__title {
  font-family: "Conv_poppins.semibold";
  font-size: 44px;
  width: 436px;
  height: 26px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.app-works__block {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .app-works__block {
    flex-direction: column;
  }

  .phone-2 {
    order: -1;
  }
}
.app-works__text-block {
  width: 568px;
  height: 280px;
  margin-right: 40px;
}
.app-works__text-block h3 {
  font-family: "Conv_Montserrat-Bold";
  color: #FA4A0C;
  text-align: left;
  font-size: 24px;
  padding: 10px;
}
.app-works__text-block h2 {
  font-family: "Conv_Montserrat-Bold";
  text-align: left;
  font-size: 40px;
  line-height: 57px;
  padding: 10px;
}
.app-works__text-block p {
  font-family: "Conv_Montserrat-Medium";
  font-size: 24px;
  line-height: 38px;
  color: #737373;
  padding: 10px;
}

.bottom {
  height: 516px;
  background: url("../img/bg-bottom.png");
}

.bottom__container {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1005px;
  height: 326px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 70px;
}
.bottom__container h3 {
  font-family: "Conv_Montserrat-Bold";
  font-size: 24px;
  text-align: center;
  color: #F6F6F6;
}
.bottom__container h1 {
  font-family: "Conv_poppins.bold";
  font-size: 58px;
  text-align: center;
  color: white;
  line-height: 80px;
}
.bottom__container h4 {
  font-family: "Conv_Montserrat-Medium";
  font-size: 24px;
  text-align: center;
  color: #F6F6F6;
}

.button__box {
  max-width: 506px;
  height: 68px;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.button__box .button__left {
  background: #FA4A0C;
}
.button__box .button__right {
  border: 1px solid #ffffff;
  background: none;
}

@media screen and (max-width: 991px) {
  .button__box {
    flex-direction: column;
    height: 140px;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }

  .bottom__container {
    padding-top: 15px;
  }

  .bottom {
    margin-top: 20px;
  }
}
footer {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__box {
  width: 1210px;
  height: 133px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer__box {
    max-width: 800px;
  }
}
.footer__box_icon {
  max-width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer__box_icon > a {
  padding: 10px;
}

.sing {
  font-family: "Conv_Montserrat-Bold";
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
